@font-face {
  font-family: GilroyBold;
  /* src: url("/assets/font/yourFont.otf") format("truetype"); */
  src: url("../../assets/fonts/gilroy/Gilroy-Bold.ttf") format("truetype");
}
@font-face {
  font-family: GilroyRegular;
  /* src: url("/assets/font/yourFont.otf") format("truetype"); */
  src: url("../../assets/fonts/gilroy/Gilroy-Regular.ttf") format("truetype");
}
@font-face {
  font-family: GilroyMedium;
  /* src: url("/assets/font/yourFont.otf") format("truetype"); */
  src: url("../../assets/fonts/gilroy/Gilroy-Medium.ttf") format("truetype");
}
@font-face {
  font-family: GilroyBlack;
  /* src: url("/assets/font/yourFont.otf") format("truetype"); */
  src: url("../../assets/fonts/gilroy/Gilroy-Black.ttf") format("truetype");
}

