.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content span {
  padding: 1rem 0;
  width: 100%;
  color: #373737;
  /* padding: 1rem 1rem 0 1rem; */
}

.modal-content {
  background-color: white;
  text-align: center;
  width: 30%;
  border-radius: 20px;
  align-items: center;
  /* Height:500px;   */
}

.icon {
  color: rgba(2, 183, 96, 1);
  /* color: #E70000; */
  font-size: xxx-large;
  width: 100px;
  height: 50px;
}

.bad-icon {
  color: rgb(183, 2, 2);
  /* color: #E70000; */
  font-size: xxx-large;
  width: 100px;
  height: 50px;

}

.mat-mdc-unelevated-button.mat-warn {
  --mdc-filled-button-container-color: #E70000;
  --mdc-filled-button-label-text-color: #fff;
}

.modalFooter {
  display: inline-block;
  width: 100%;
  padding-bottom: 1rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: rgba(247, 247, 247, 1);
}

.footerbtn {
  width: auto;
  height: 37px;
  padding: 0 5%;
  border: 1px solid #f44336;
  color: #f44336;
  background-color: #fff;
  border-radius: 5px;
}

.modalTitle {
  font-size: 20px;
  font-weight: bolder;

}

.modalMessage {
  font-size: 14px;
  width: 80%;
  margin: auto;
}

.mat-mdc-outlined-button {
  --mdc-outlined-button-outline-color: #f44336;
}

.footer-actions{
  background-color:  rgba(247, 247, 247, 1);
  border: 1px solid rgba(247, 247, 247, 1);
  display: grid;
  grid-template-columns: 70% 30%;
}
