<div class="modal-wrapper">
  <div class="modal-content" *ngIf="iconNeeded">
    <mat-icon class="material-icons icon">
      {{modalIcon}}
    </mat-icon>
    <br>
    <h3 class="modalTitle">{{modalHeaderTitle}}</h3>
    <p class="modalMessage">{{modalMessage1}}</p>
    <p class="modalMessage">{{modalMessage2}}</p>

    <div class="modalFooter">

      <button
        (click)="closeModal()"
        class="btn footerbtn">
        <span
          [style.color]="closeBtnColor">
          {{ closeBtnText }}
        </span>
      </button>

      <button class="btn-red footerbtn" (click)="action()">
        <span
          [style.color]="actionBtnColor">
          {{actionBtnText}}
        </span>
      </button>
    </div>
  </div>

  <div class="modal-content" *ngIf="!iconNeeded">
    <h3 class="modalTitle">{{modalHeaderTitle}}</h3>
    <p class="modalMessage">{{modalMessage1}}</p>
    <p class="modalMessage">{{modalMessage2}}</p>

    <div class="modalFooter">

      <button
        (click)="closeModal()"
        class="btn footerbtn">
        <span
          [style.color]="closeBtnColor">
          {{ closeBtnText }}
        </span>
      </button>

      <button class="btn-red footerbtn" (click)="action()">
        <span
          [style.color]="actionBtnColor">
          {{actionBtnText}}
        </span>
      </button>
    </div>
  </div>
</div>
