<div class="container">
   <section class="header-section">
      <app-nav></app-nav>
      <div class="header-grid">
         <div class="header-left">
            <h3>
               Services
            </h3>
            <span class="mt-1">
               At Olohie Virtual, we specialize in providing tailored and seamless Customer Services, Administrative and HR Services, Social Media and IT Services designed specifically for small business owners and entrepreneurs.
            </span>
         </div>
         <div class="header-right">
            <img src="assets/img/services.jpg" alt="" class="services-img">
         </div>
      </div>
      <div class="large-text">
         <h1>
            OUR SERVICES
         </h1>
      </div>
   </section>
   <section class="customer-service-section image-left">
      <div class="header-left">
         <img src="assets/img/service-image1.jpg" alt="">
      </div>
      <div class="header-right">
         <h2> CUSTOMER SERVICE SUPPORT </h2>
         <div>
            <span>
               Our dedicated team is committed to understanding your unique needs and delivering solutions that help you succeed. Whether you need assistance with administrative tasks, HR management, or social media marketing, we've got you covered.
            </span>
         </div>
         <ul>
            <li> Responding to customer's inquires </li>
            <li> Handling customer's complaints & feedbacks. </li>
            <li> Emailing </li>
            <li> Chat Support </li>
            <li> Social Media Management </li>
            <li> Live stream / Webinar support </li>
            <li> Voicemail Transcribing </li>
         </ul>
         <div class="buttons">
            <button class="first-button" (click)="viewPricing()"> View Pricing </button>
            <button class="second-button" (click)="bookingCall()"> Book a call </button>
         </div>
      </div>
   </section>
   <section class="social-media-section image-right">
      <div class="header-right-top">
         <img src="assets/img/service-image2.jpg" alt="">
      </div>
      <div class="header-left">
         <h2> SOCIAL MEDIA MANAGEMENT </h2>
         <div>
            <span>
               Elevate your online presence and engage with your audience like never before with our expert social media management services.
               We assist you boost your online presence and brand awarenessso you keep up with the trend and drive traffice to your page.
            </span>
         </div>
         <ul>
            <li> Page Management </li>
            <li> Group Management. </li>
            <li> Content Creation </li>
            <li> Scheduling Posts </li>
            <li> Interaction/ Engagement with Comments on Posts </li>
            <li> Direct Messaging </li>
            <li> Order Processing </li>
         </ul>
         <div class="buttons">
            <button class="first-button" (click)="viewPricing()"> View Pricing </button>
            <button class="second-button" (click)="bookingCall()"> Book a call </button>
         </div>
      </div>
      <div class="header-right">
         <img src="assets/img/service-image2.jpg" alt="">
      </div>
   </section>
   <section class="information-section image-left">
      <div class="header-left">
         <img src="assets/img/service-image33.jpg" alt="">
      </div>
      <div class="header-right">
         <h2> INFORMATION TECHNOLOGY </h2>
         <div>
            <span>
               Elevate your business's technological landscape with our cutting-edge IT solutions. <br>
               From seamless infrastructure management to innovative software solutions.
            </span>
         </div>
         <ul>
            <li> Website Creation (Payment, E-commerce, All Categories) </li>
            <li> Domain Name Registration </li>
            <li> Hosting </li>
            <li> Front End Development - HTML, CSS, JavaScript, Angular </li>
            <li> Back End Development - C# </li>
            <li> Product Design </li>
            <li> Website Maintenance </li>
            <li> Enhanced Mobile Friendliness </li>
            <li> 100% Ownership Rights </li>
         </ul>
         <div class="buttons">
            <button class="first-button" (click)="viewPricing()"> View Pricing </button>
            <button class="second-button" (click)="bookingCall()"> Book a call </button>
         </div>
      </div>
   </section>
   <section class="email-mgt-section image-right">
      <div class="header-right-top">
         <img src="assets/img/service-image4.jpg" alt="">
      </div>
      <div class="header-left">
         <h2> EMAIL MANAGEMENT </h2>
         <div>
            <span>
               Take control of your inbox chaos and reclaim your time with our efficient email management services. 
               <br>
               We organize your inbox daily and keep you updated on only the essentials
               <br>
               Say goodbye to clutter and hello to productivity!.
            </span>
         </div>
         <ul>
            <li> Managing your Contact List </li>
            <li> Reading Emails </li>
            <li> Calendar Management is missing as a Category </li>
            <li> Writing Emails </li>
            <li> Sending Invitations out for Events & functions </li>
            <li> Cleaning and Shorting Inbox </li>
         </ul>
         <div class="buttons">
            <button class="first-button" (click)="viewPricing()"> View Pricing </button>
            <button class="second-button" (click)="bookingCall()"> Book a call </button>
         </div>
      </div>
      <div class="header-right">
         <img src="assets/img/service-image4.jpg" alt="">
      </div>
   </section>
   <section class="meetings-section image-left">
      <div class="header-left">
         <img src="assets/img/service-image5.jpg" alt="">
      </div>
      <div class="header-right">
         <h2> MEETINGS AND PRESENTATION </h2>
         <div>
            <span>
               Make every meeting and presentation count with our professional management services. From seamless scheduling to captivating presentations, we ensure your message is delivered with impact every time.
            </span>
         </div>
         <ul>
            <li> Create Power-point Presentation </li>
            <li> Prepare Meetings & Training Materials </li>
            <li> Minutes of / Note Taking During Meetings </li>
            <li> Meeting Recordings </li>
         </ul>
         <div class="buttons">
            <button class="first-button" (click)="viewPricing()"> View Pricing </button>
            <button class="second-button" (click)="bookingCall()"> Book a call </button>
         </div>
      </div>
   </section>
   <section class="research-section image-right">
      <div class="header-right-top">
         <img src="assets/img/service-image6.jpg" alt="">
      </div>
      <div class="header-left">
         <h2> RESEARCH </h2>
         <div>
            <span>
               Unlock valuable insights and stay ahead of the curve with our dedicated research services. 
               <br>
               From market trends to competitor analysis, we provide the data you need to make informed decisions and drive your business forward.
            </span>
         </div>
         <ul>
            <li> Product Research </li>
            <li> Research Flights & Hotels for Travel </li>
            <li> Data Research </li>
            <li> Document Research </li>
            <li> Advertising Research </li>
            <li> Competitive Research </li>
            <li> Book Travel Flights and Accomodation </li>
         </ul>
         <div class="buttons">
            <button class="first-button" (click)="viewPricing()"> View Pricing </button>
            <button class="second-button" (click)="bookingCall()"> Book a call </button>
         </div>
      </div>
      <div class="header-right">
         <img src="assets/img/service-image6.jpg" alt="">
      </div>
   </section>
   <section class="human-resource-section image-left">
      <div class="header-left">
         <img src="assets/img/service-image3.jpg" alt="">
      </div>
      <div class="header-right">
         <h2> HUMAN RESOURCES </h2>
         <div>
            <span>
               Empower your workforce and unleash your company's full potential with our comprehensive HR solutions, enhance efficiency, and ensure compliance with regulations.
               <br>
               Our services are designed to meet the diverse needs of businesses ranging from startups to multinational corporations.
            </span>
         </div>
         <ul>
            <li> Recruitment </li>
            <li> Reference and Background Check </li>
            <li> Onboarding </li>
            <li> Onboarding </li>
            <li> Employee Relations (Responding to staff enquires) </li>
         </ul>
         <div class="buttons">
            <button class="first-button" (click)="viewPricing()"> View Pricing </button>
            <button class="second-button" (click)="bookingCall()"> Book a call </button>
         </div>
      </div>
   </section>
   <section class="branding-section image-right">
      <div class="header-right-top">
         <img src="assets/img/service-image22.jpg" alt="">
      </div>
      <div class="header-left">
         <h2> BRANDING </h2>
         <div>
            <span>
               Unlock valuable insights and stay ahead of the curve with our dedicated research services. 
               <br>
               From market trends to competitor analysis, we provide the data you need to make informed decisions and drive your business forward.
            </span>
         </div>
         <ul>
            <li> Logo Design </li>
            <li> Brand Style Guide Creation </li>
            <li> Visual Assets Development </li>
            <li> Print and Digital Collateral Design </li>
            <li> Packaging and Merchandise Design </li>
            <li> Brand Implementation Support </li>
         </ul>
         <div class="buttons">
            <button class="first-button" (click)="viewPricing()"> View Pricing </button>
            <button class="second-button" (click)="bookingCall()"> Book a call </button>
         </div>
      </div>
      <div class="header-right">
         <img src="assets/img/service-image22.jpg" alt="">
      </div>
   </section>
   <section class="booking-section">
      <div class="title">
         <h3> What are you waiting for? </h3>
         <div>
            <span>
               Let Olohie Virtual handle the administrative, social media, HR, and IT tasks, so
            </span>
            <span>
               you can focus on what truly matters
            </span>
         </div>
         <div class="mt-2 booking-section-button">
            <button (click)="bookingCall()">
               Book a discovery call
            </button>
         </div>
      </div>
   </section>
   

   <app-footer></app-footer>
</div>