
	<div class="main-area">
		<div class="container full-height position-static">

			<section class="left-section full-height">

				<a class="logo">
          <img src="assets/img/olohievirtuallogo.png" alt="Logo">
        </a>

				<div class="display-table">
					<div class="display-table-cell">
						<div class="main-content">
							<h1 class="title"><b>Olohie Virtual Under Construction</b></h1>

							<p> Our website is currently been created.</p>

							<p>	We will be up soon. Thank you for your patience. </p>

							<div class="email-input-area">
								<form method="post">
									<input class="email-input" name="email" type="text" placeholder="Enter your email"/>
									<button class="submit-btn" name="submit" type="submit"><b>NOTIFY US</b></button>
								</form>
							</div><!-- email-input-area -->

							<p class="post-desc">Sign up now to get early notification of our lauch date!</p>
						</div><!-- main-content -->
					</div><!-- display-table-cell -->
				</div><!-- display-table -->

				<ul class="footer-icons">
					<li>Stay in touch : </li>
					<li>
            <a href="https://www.facebook.com/profile.php?id=61556478655312" target="_blank" rel="noopener noreferrer">
              <i class="ion-social-facebook"></i>
            </a>
          </li>
					<li>
            <a href="https://twitter.com/home" target="_blank" rel="noopener noreferrer">
              <i class="ion-social-twitter"></i>
            </a>
          </li>
					<li>
            <a href="https://www.instagram.com/olohievirtual/" target="_blank" rel="noopener noreferrer">
              <i class="ion-social-instagram-outline"></i>
            </a>
          </li>
					<li>
            <a href="https://www.linkedin.com/company/olohie-virtual-inc/" target="_blank" rel="noopener noreferrer">
              <i class="ion-social-linkedin"></i>
            </a>
          </li>
				</ul>

			</section><!-- left-section -->

			<section class="right-section" style="background-image: url(assets/img/countdown-6-1600x900.jpg)">

				<div class="display-table center-text">
					<div class="display-table-cell">


						<div id="rounded-countdown">
							<div class="countdown" data-remaining-sec="2000000"></div>
						</div>

					</div><!-- display-table-cell -->
				</div><!-- display-table -->

			</section><!-- right-section -->

		</div><!-- container -->
	</div><!-- main-area -->
